<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerMicrosoftXbox360</key>
	<dict>
		<key>OEStudioIIButton2</key>
		<string>OEControllerMicrosoftXbox360DPadUp</string>
		<key>OEStudioIIButton8</key>
		<string>OEControllerMicrosoftXbox360DPadDown</string>
		<key>OEStudioIIButton4</key>
		<string>OEControllerMicrosoftXbox360DPadLeft</string>
		<key>OEStudioIIButton6</key>
		<string>OEControllerMicrosoftXbox360DPadRight</string>
		<key>OEStudioIIButton5</key>
		<string>OEControllerMicrosoftXbox360ButtonX</string>
		<key>OEStudioIIButton0</key>
		<string>OEControllerMicrosoftXbox360ButtonA</string>
		<key>OEStudioIIButtonClear</key>
		<string>OEControllerMicrosoftXbox360ButtonStart</string>
	</dict>
	<key>OEControllerSonyPS3Sixaxis</key>
	<dict>
		<key>OEStudioIIButton2</key>
		<string>OEControllerSonyPS3SixaxisDPadUp</string>
		<key>OEStudioIIButton8</key>
		<string>OEControllerSonyPS3SixaxisDPadDown</string>
		<key>OEStudioIIButton4</key>
		<string>OEControllerSonyPS3SixaxisDPadLeft</string>
		<key>OEStudioIIButton6</key>
		<string>OEControllerSonyPS3SixaxisDPadRight</string>
		<key>OEStudioIIButton5</key>
		<string>OEControllerSonyPS3SixaxisButtonSquare</string>
		<key>OEStudioIIButton0</key>
		<string>OEControllerSonyPS3SixaxisButtonCross</string>
		<key>OEStudioIIButtonClear</key>
		<string>OEControllerSonyPS3SixaxisButtonStart</string>
	</dict>
	<key>OEControllerLogitechDualAction</key>
	<dict>
		<key>OEStudioIIButton2</key>
		<string>OEControllerLogitechDualActionDPadUp</string>
		<key>OEStudioIIButton5</key>
		<string>OEControllerLogitechDualActionButton1</string>
		<key>OEStudioIIButton0</key>
		<string>OEControllerLogitechDualActionButton2</string>
		<key>OEStudioIIButtonClear</key>
		<string>OEControllerLogitechDualActionButtonStart</string>
	</dict>
	<key>OEControllerSegaSaturn</key>
	<dict>
		<key>OEStudioIIButton2</key>
		<string>OEControllerSegaSaturnDPadUp</string>
		<key>OEStudioIIButton4</key>
		<string>OEControllerSegaSaturnDPadLeft</string>
		<key>OEStudioIIButton5</key>
		<string>OEControllerSegaSaturnButtonA</string>
		<key>OEStudioIIButton0</key>
		<string>OEControllerSegaSaturnButtonB</string>
		<key>OEStudioIIButtonClear</key>
		<string>OEControllerSegaSaturnButtonStart</string>
	</dict>
	<key>OEControllerGravisGamePadPro</key>
	<dict>
		<key>OEStudioIIButton2</key>
		<string>OEControllerGravisGamePadProDPadUp</string>
		<key>OEStudioIIButton4</key>
		<string>OEControllerGravisGamePadProDPadLeft</string>
		<key>OEStudioIIButton5</key>
		<string>OEControllerGravisGamePadProButton1</string>
		<key>OEStudioIIButton0</key>
		<string>OEControllerGravisGamePadProButton2</string>
		<key>OEStudioIIButtonClear</key>
		<string>OEControllerGravisGamePadProButtonStart</string>
	</dict>
	<key>OEControllerRetroUSBSNES</key>
	<dict>
		<key>OEStudioIIButton2</key>
		<string>OEControllerRetroUSBSNESDPadUp</string>
		<key>OEStudioIIButton4</key>
		<string>OEControllerRetroUSBSNESDPadLeft</string>
		<key>OEStudioIIButton5</key>
		<string>OEControllerRetroUSBSNESButtonY</string>
		<key>OEStudioIIButton0</key>
		<string>OEControllerRetroUSBSNESButtonB</string>
		<key>OEStudioIIButtonClear</key>
		<string>OEControllerRetroUSBSNESButtonStart</string>
	</dict>
	<key>OEControllerPS3NeoGeoPad</key>
	<dict>
		<key>OEStudioIIButton2</key>
		<string>OEControllerPS3NeoGeoPadDPadUp</string>
		<key>OEStudioIIButton5</key>
		<string>OEControllerPS3NeoGeoPadButtonCross</string>
		<key>OEStudioIIButton0</key>
		<string>OEControllerPS3NeoGeoPadButtonCircle</string>
		<key>OEStudioIIButtonClear</key>
		<string>OEControllerPS3NeoGeoPadButtonStart</string>
	</dict>
	<key>OEControllerRetrode</key>
	<dict>
		<key>OEStudioIIButton2</key>
		<string>OEControllerRetrodeDPadUp</string>
		<key>OEStudioIIButton4</key>
		<string>OEControllerRetrodeDPadLeft</string>
		<key>OEStudioIIButton5</key>
		<string>OEControllerRetrodeButtonY</string>
		<key>OEStudioIIButton0</key>
		<string>OEControllerRetrodeButtonB</string>
		<key>OEStudioIIButtonClear</key>
		<string>OEControllerRetrodeButtonStart</string>
	</dict>
	<key>OEControllerRetrolinkSNES</key>
	<dict>
		<key>OEStudioIIButton2</key>
		<string>OEControllerRetrolinkSNESDPadUp</string>
		<key>OEStudioIIButton4</key>
		<string>OEControllerRetrolinkSNESDPadLeft</string>
		<key>OEStudioIIButton5</key>
		<string>OEControllerRetrolinkSNESButtonY</string>
		<key>OEStudioIIButton0</key>
		<string>OEControllerRetrolinkSNESButtonB</string>
		<key>OEStudioIIButtonClear</key>
		<string>OEControllerRetrolinkSNESButtonStart</string>
	</dict>
	<key>OEControllerRetrolinkN64</key>
	<dict>
		<key>OEStudioIIButton2</key>
		<string>OEControllerRetrolinkN64DPadUp</string>
		<key>OEStudioIIButton5</key>
		<string>OEControllerRetrolinkN64ButtonA</string>
		<key>OEStudioIIButton0</key>
		<string>OEControllerRetrolinkN64CPadDown</string>
		<key>OEStudioIIButtonClear</key>
		<string>OEControllerRetrolinkN64ButtonStart</string>
	</dict>
	<key>OEControllerAdaptoidN64</key>
	<dict>
		<key>OEStudioIIButton2</key>
		<string>OEControllerAdaptoidN64DPadUp</string>
		<key>OEStudioIIButton8</key>
		<string>OEControllerAdaptoidN64DPadDown</string>
		<key>OEStudioIIButton4</key>
		<string>OEControllerAdaptoidN64DPadLeft</string>
		<key>OEStudioIIButton6</key>
		<string>OEControllerAdaptoidN64DPadRight</string>
		<key>OEStudioIIButton5</key>
		<string>OEControllerAdaptoidN64ButtonA</string>
		<key>OEStudioIIButton0</key>
		<string>OEControllerAdaptoidN64CPadDown</string>
		<key>OEStudioIIButtonClear</key>
		<string>OEControllerAdaptoidN64ButtonStart</string>
	</dict>
	<key>OEControllerWiimote</key>
	<dict>
		<key>OEStudioIIButton2</key>
		<string>OEControllerWiimoteDPadRight</string>
		<key>OEStudioIIButton8</key>
		<string>OEControllerWiimoteDPadLeft</string>
		<key>OEStudioIIButton4</key>
		<string>OEControllerWiimoteDPadUp</string>
		<key>OEStudioIIButton6</key>
		<string>OEControllerWiimoteDPadDown</string>
		<key>OEStudioIIButton5</key>
		<string>OEControllerWiimoteButton1</string>
		<key>OEStudioIIButton0</key>
		<string>OEControllerWiimoteButton2</string>
		<key>OEStudioIIButtonClear</key>
		<string>OEControllerWiimoteButtonPlus</string>
	</dict>
	<key>OEControllerNintendoWiiUProController</key>
	<dict>
		<key>OEStudioIIButton2</key>
		<string>OEControllerNintendoWiiUProControllerDPadUp</string>
		<key>OEStudioIIButton8</key>
		<string>OEControllerNintendoWiiUProControllerDPadDown</string>
		<key>OEStudioIIButton4</key>
		<string>OEControllerNintendoWiiUProControllerDPadLeft</string>
		<key>OEStudioIIButton6</key>
		<string>OEControllerNintendoWiiUProControllerDPadRight</string>
		<key>OEStudioIIButton5</key>
		<string>OEControllerNintendoWiiUProControllerButtonY</string>
		<key>OEStudioIIButton0</key>
		<string>OEControllerNintendoWiiUProControllerButtonB</string>
		<key>OEStudioIIButtonClear</key>
		<string>OEControllerNintendoWiiUProControllerButtonPlus</string>
	</dict>
	<key>OEControllerSonyPS4Dualshock4</key>
	<dict>
		<key>OEStudioIIButton2</key>
		<string>OEControllerSonyPS4Dualshock4DPadUp</string>
		<key>OEStudioIIButton5</key>
		<string>OEControllerSonyPS4Dualshock4ButtonSquare</string>
		<key>OEStudioIIButton0</key>
		<string>OEControllerSonyPS4Dualshock4ButtonCross</string>
		<key>OEStudioIIButtonClear</key>
		<string>OEControllerSonyPS4Dualshock4ButtonOptions</string>
	</dict>
</dict>
</plist>
