<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2014 OpenEmu Team. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>OESystemController</string>
	<key>OEControlListKey</key>
	<array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>0</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEStudioIIButton0</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>1</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEStudioIIButton1</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>2</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEStudioIIButton2</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>3</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEStudioIIButton3</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>4</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEStudioIIButton4</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>5</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEStudioIIButton5</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>6</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEStudioIIButton6</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>7</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEStudioIIButton7</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>8</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEStudioIIButton8</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Clear</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEStudioIIButtonClear</string>
			</dict>
		</array>
	</array>
	<key>OEControlTypesKey</key>
	<dict>
		<key>OEAxisControlsKey</key>
		<array>
			<array>
				<string>OEStudioIIButton2</string>
				<string>OEStudioIIButton8</string>
			</array>
			<array>
				<string>OEStudioIIButton4</string>
				<string>OEStudioIIButton6</string>
			</array>
		</array>
		<key>OEHatSwitchControlsKey</key>
		<array>
			<array>
				<string>OEStudioIIButton2</string>
				<string>OEStudioIIButton6</string>
				<string>OEStudioIIButton8</string>
				<string>OEStudioIIButton4</string>
			</array>
		</array>
	</dict>
	<key>OEFileSuffixes</key>
	<array>
		<string>st2</string>
	</array>
	<key>OEGenericControlNamesKey</key>
	<array>
		<string>OEStudioIIButton0</string>
		<string>OEStudioIIButton1</string>
		<string>OEStudioIIButton2</string>
		<string>OEStudioIIButton3</string>
		<string>OEStudioIIButton4</string>
		<string>OEStudioIIButton5</string>
		<string>OEStudioIIButton6</string>
		<string>OEStudioIIButton7</string>
		<string>OEStudioIIButton8</string>
		<string>OEStudioIIButton9</string>
		<string>OEStudioIIButtonClear</string>
	</array>
	<key>OENumberOfPlayersKey</key>
	<integer>2</integer>
	<key>OEResponderClassKey</key>
	<string>OEStudioIISystemResponder</string>
	<key>OESystemIcon</key>
	<string>studio_ii_library</string>
	<key>OESystemIdentifier</key>
	<string>openemu.system.studioii</string>
	<key>OESystemName</key>
	<string>Studio II</string>
</dict>
</plist>
